


@media (min-width: 320px) and (max-width: 575.98px) {


  /* Heading Part Start */

   nav{
     display: flex;
     padding: 20px 30px;
   }
   nav ul li{
    display:  none;
   }

  
  /* Heading Part End */

  /*Banner Part Start */

  #bannerPart{
    padding: 20px 0px;
  }
  .bannerFlex{
    display: flex;
    flex-direction:column;
    flex-direction: column-reverse;
  }
  .bannerImg img{
    height: 300px;
    width: 100%;
  }
  .bannerTitle{
    padding: 30px;
  }
  .bannerTitle h1{
    font-size: 35px;
    font-weight: bold;
    color: #E95A08;
  }
  .bannerTitle p{
     width: 100%;
    font-size: 14px;
    color: black;
  }

  /* Banner Part End */

  /* Cart Part Start */

  .plantsTittle{
    width: 350px;
    margin: 0 auto;
    text-align: center;
}
.plantsTittle h1{
    font-size: 25px;
}
.plantsTittle p{
    font-size: 14px;
    font-weight: 500px;
    margin-top: 15px;
}
.cartFlex{
  display: grid;
  grid-template-columns: repeat(2,1fr);
}
.cartFlex{
  margin: 0 auto;
  
}
.cartBox{
  width: 90%;
  margin-top: 25px;
  margin-left: 10px;
}
.boxText h3{
  font-size: 18px;
}
.boxText h5{
  font-size: 16px;
}
.cardBtn{
  font-size: 14px;
  padding: 10px 10px;
}

/* Cart Part End */

/* Plants Lover Part Start */

#plantsLover{
  padding: 50px 15px;
}
.plantFlex{
    display: flex;
    flex-direction: column;
}
.plantImg img {
  height: 400px;
  width: 100%;
}
.badge{
  display: none;
}
.plnatBoxText h1{
    font-size: 30px;
}
.plnatBoxText ul{
    width: auto;
}
.plnatBoxText li p{
    font-size: 18px;
}

/* Plants Lover Part End */

/* Deals Part Start */

.dealspartTittle {
    width: auto;
    padding: 0px 20px;
}
.dealspartTittle h1{
    font-size: 35px;
}
.dealspartTittle p{
    font-size: 18px;
    margin-top: 15px;
}
.dealsimgBox{
  display: flex;
  flex-direction: column;
  padding: 0px 20px;
}
.imgBox{
  width: 100%;
  margin-bottom: 50px;
}
.imgBoxTwo{
  width: 100%;
}
.bigImg{
  height: 300px;
}
.bigImg h1{
  font-size: 20px;
  padding-top: 130px;
}
.bigImg p{
  font-size: 18px;
}

/* Deals Part End */

/* Colorful Brunch Start */

#joinPart {
    padding: 100px 0px;
}
.jointpartTittle {
    text-align: center;
}
.jointpartTittle h1{
    font-size: 25px;
    font-weight: bold;
    color: white;
    margin-bottom: 20px;
}
input{
    height: 40px;
    width: 250px;
}
button{
    padding: 11px 20px;
    color: white;
    background-color: #E95A08;
    border: none;
    cursor: pointer;
}

/* Colorful Brunch End */

/* Footer Part Start */

#footerPart{
    padding: 50px 15px;
}
.footerElements{
    display: flex;
    flex-direction: column;
}
.footerLeft p{
    font-size: 16px;
    width: 350px;
    margin-top: 20px;
    margin-bottom: 20px;
}
/* Footer Part End */

}